.default-img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blog-details{
   font-size: smaller;
}

.card-head p{
    font-size: 12px;
}

.custom{
    background-color: #D6F4F9;
    font-weight: 600;
    color: #006c9c;
    padding: 6px;
    /* opacity: 16.60%; */
    border: none;
    border-radius: 5px;
}

.blog-btn{
    border: none;
    background-color: #fff;
}

.blog-btn:hover{
    background-color: #d4d4d4;
    border-radius: 50%;
}

.active{
    border-bottom: 1px solid #006c9c;
    padding-bottom: 5px;
}

.card-text{
    text-align: justify;
}

.pointer{
    cursor: pointer;
}
.select{
    transition: 1s ease;
}
.select:hover{
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

@media (max-width:767px) {
    .default-img{
      max-height:150px;
    }
    
}