
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
   font-family: "Poppins";
}


.my-btn {
    display: inline-block;
    background-color: #fff;
    border-color: #F80;
    color: #F80;
    width: auto;
    border-radius: 5px;
    font-size: 1rem;
}

.my-btn:hover {
    background: #F80;
    color: #fff;

}

.heading{
    font-size:6rem ;
}

.line{
  border: 1px solid;
}

.my-grid{
    display: grid;
    grid-template-columns: 70% 30%;
}

.sidebar-box{
    border: 1px solid gray;
    padding: 10px;
}

.card{
    max-width: 47%;
}